.services {
  padding-top: 120px;

  &__subheader {
    margin-bottom: 75px;
    padding: 0 130px;
    text-align: center;
    word-spacing: 2px;

    @media (max-width: 900px) {
      padding-left: 30px;
      padding-right: 30px;
    }

    @media (max-width: 480px) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__subheader-title {
    margin: 0;
    margin-bottom: 50px;
    @include f-roboto(600);
    font-size: 30px;
    color: $color-abbey;
    letter-spacing: 1px;

    > span {
      color: $color-meadow;
    }
  }

  &__subheader-text {
    margin: 0;
    @include f-roboto(300);
    font-size: 18px;
    line-height: 30px;
    color: $color-mist;
  }

  &__items {
    @include list-reset;
    font-size: 0;
    text-align: center;
  }
}

.services-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 358px;
  margin-right: 48px;
  margin-bottom: 48px;
  padding: 82px 0 18px;
  padding-left: 14px;
  padding-right: 12px;
  text-align: center;
  border: 1px solid #cac8c5;
  outline: 1px solid transparent;
  transition: border-color .3s, outline .3s;

  @media (max-width: 1206px) {
    &:nth-child(2n) {
      margin-right: 0!important;
    }
  }

  @media (max-width: 800px) {
    width: auto;
    margin-right: 0;
  }

  &:hover {
    border-color: $color-meadow;
    outline: 1px solid $color-meadow;
  }

  &:hover .services-item__heading {
    color: $color-meadow;
  }

  &:hover .services-item__icon {
    fill: $color-meadow;
  }

  &:hover .services-item__text {
    color: $color-abbey;
  }

  &:nth-child(3n) {
    margin-right: 0;

    @media (max-width: 1206px) {
      margin-right: 48px;
    }

    @media (max-width: 800px) {
      margin-right: 0;
    }
  }

  &__icon {
    position: absolute;
    left: 50%;
    top: 35px;
    margin-left: -20px;
    fill: $color-abbey;
    transition: fill .3s;
  }

  &__heading {
    margin: 0;
    margin-bottom: 34px;
    @include f-roboto(600);
    font-size: 24px;
    color: $color-abbey;
    letter-spacing: 1px;
    transition: color .3s;
  }

  &__text {
    margin: 0;
    @include f-roboto(300);
    font-size: 14px;
    line-height: 30px;
    word-spacing: 2px;
    color: $color-mist;
    transition: color .3s;
  }
}
